body{
    font-family: Arial, sans-serif;
    background: color #f4f4f4; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container{
    background:yellow;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0,0, 0.1);
    border-radius: 5px;
    width: 300px;
}
input{
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button{
    padding: 10px;
    background: orange;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;


}
button:hover{
    background: orangered;
}
ul{
    list-style-type: none;
    padding:0;
}
li{
    background: rgb(128, 128, 128);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li.completed{
    text-decoration: line-through;
    color: #ccc;
}